.heading > * {
  margin-block: 0;
}

.text-accent-1 {
  color: rgb(0 150 220);
}

.text-accent-2 {
  color: rgb(200 200 0);
  font-style: italic;
}

.btn {
  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
}

.btn:hover {
  border-color: #646cff;
}

.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
